  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@1,6..12,500&display=swap');

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root{
    font-family: 'Nunito Sans';
  }

  body {
    font-family: var(--font-principal);
    
    background-color: white;
  }

  header {
    background-color: white;
    color: #151313;
    padding: 15px;
  }

  nav h1 {
    text-align: right;
    padding-right: 20px;
  }

  nav ul {
    list-style: none;
    text-align: left;
    padding-left: 20px;
  }

  nav li {
    display: inline;
    margin: 0 10px;
    font-weight: bold;
  }

  .btn {
    background-color: rgb(137, 84, 206);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(55, 5, 88, 0.3);
    cursor: pointer;
  }
  .btn:hover {
    background-color: rgb(107, 58, 172);
  }

  .bton{
    background-color: rgb(137, 84, 206);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(55, 5, 88, 0.3);
    cursor: pointer;
    float: right;
  }
  .bton a{
    text-decoration: none;
  }

  .bton:hover {
    background-color: rgb(107, 58, 172);
  }

  nav a {
    text-decoration: none;
    font-weight: bold;
    color: #242222;
  }

  main {
    padding: 20px;
    overflow: hidden;
  }

  .container {
    display: inline;
  }


  .container {
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  form {
    overflow: hidden;
  }

  form fieldset {
    border: 1px solid #7105a3;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    box-shadow: #151313;
  }

  form legend {
    
    color: #7b4694;
  }

  .input-container {
    margin-bottom: 20px;
  }

  .input-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
  }

  .fundo {
    background-color: #7b4694;
    padding-bottom: 380px;
  }

  input[type="text"],
  input[type="email"],
  input[type="number"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #555;
  }

  textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    height: 120px;
  }

  select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  button {
    background-color: rgb(137, 84, 206);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
  }


  button[type="reset"] {
    background-color: #6a7783;
  }


  button:hover {
    background-color: rgb(95, 58, 143);
  }

  .aliamento {
    text-align: center;
    display: flex;

  }

  .aliamento img{
    float: right;
  }


  [class*="col-"] {
    float: left;
    padding-right: 10px;}
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 24.99%;}
  .col-4 {width: 33.32%;}
  .col-5 {width: 41.65%;}
  .col-6 {width: 49.98%;}
  .col-7 {width: 58.31%;}
  .col-8 {width: 66.64%;}
  .col-9 {width: 74.97%;}
  .col-10 {width: 83.3%;}
  .col-11 {width: 91.63%;}
  .col-12 {width: 99%;}

  h2 {
    padding: 30px;
    text-align: center;
  }

  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.game-card {
    width: 300px;
    background-color: #e1d5f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    padding: 20px;
    margin: 80px ;
    text-align: center;
    display: inline-block;
    
    
}

.game-card img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 10px;
}

.game-card a {
  text-decoration: none;
}

.game-card h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.game-card p {
    color: #777;
    font-size: 16px;
    margin-bottom: 20px;
}

.game-card a {
    color: rgb(108, 78, 155)
}

.game-card a:hover {
    color: rgb(83, 60, 121);
}



table {
  width: 100%;
  padding-left: 150px;
  padding-top: 20px;
  padding-bottom: 30px;
}

th, td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ad97ca;
}

th {
  background-color: #d3bdf1;
}

 footer{
  background-color: rgb(83, 60, 121);
  text-align: center;
  padding: 20px;
} 


.footer {
  clear: both;
  position: relative;
  height: 50px;
  margin-top: -100px;
  text-align: center;

  background-color: rgb(83, 60, 121);

}

.carousel {
  padding-top: 50px;
  background: #ffffff;
}

.carousel-cell {
  width: 66%;
  height: 450px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}
